<nav class="navbar navbar-expand-lg brdr-bottom text-light navbar-light bg-transparent">
  <div class="container-fluid justify-content-between">
    <a class="navbar-brand" >
      <img src="../../../assets/Images/001-ideas.png" class="w-25" alt="js Quiz">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
   
     <p class="lead text-light">Java Script Developer Test</p>

  </div>
</nav>
