<div class="container">
  <div class="card bg-custom my-5 p-3">
    <!-- <p-toast></p-toast> -->
    <p-progressBar [value]="value"></p-progressBar>
    <div class="Q-head p-3 d-flex justify-content-between">
      <p class="brdr-bottom pb-1 fw-bold text-center ">
        Categorize the following words according to their part of speech.
      </p>
      <span class="text-info fw-bold">QNum {{currentQuestion+1}}/15</span>
    </div>
    <div class="quest-body" >
        <p>{{currentQuestion+1}}) " {{wordsArray[currentQuestion]?.word}} " ?</p>
    </div>
    <div *ngFor="let answer of answers" class="field-checkbox answers">
      <p-radioButton [inputId]="answer.key" name="answer" (onClick)="answer()" [value]="answer"  [(ngModel)]="selectedCategory" [styleClass]="'mb-1'">
      </p-radioButton>
      <label [ngClass]="{'text-success':wordsArray[currentQuestion]?.pos==answer.name && selectedCategory==answer,'text-danger':wordsArray[currentQuestion]?.pos!=answer.name && selectedCategory==answer}" class="mx-2 mb-1" [for]="answer.key">{{answer.name}}</label>
    </div>
    <div class="d-flex w-100 justify-content-center">
      <button [disabled]="currentQuestion == 0" pButton pRipple type="button" (click)="prevQues()" label="Previous" class="p-button-danger mx-2"></button>
      <button [disabled]="currentQuestion == 14" pButton pRipple type="button" (click)=" nextQuestion()" label="Next" class="p-button-primary"></button>
    </div>
  </div>
</div>
